/*
    Agora Forum Software
    Copyright (C) 2016 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #008;
}

.hidden {
    display: none;
}

.main-layout-header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    min-height: 41px;
    background-color: #00C;
    color: #FFF; /*for the text.*/
}

.main-layout-header-item {
    padding: 5px 10px 5px 10px;
}

.main-layout-header-link {
    padding: 5px 10px 5px 10px;
    color: #FFF;
}

.root-post .control {
    display: none;
}

.page-content {
  height: 870px;
}

.at-error {
  height: auto !important;
  width: 100%;
  padding:5px;
  margin: 10px;
}

.create-post, .at-form {
  width: 33%;
  margin: 0 auto 0 auto;
}

.front-page-center {
    text-align: center;
    position: absolute;
    left: 20vw;
    width: 60vw;
}
