<!--
    Agora Forum Software
    Copyright (C) 2016 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
-->

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<template name="forbidden">
    <h1>You are banned from the site</h1>
</template>

<template name="layout">
    <div class="main-layout-header">
        <div class="main-layout-header-row">
            <span class="main-layout-title main-layout-header-item">Agora Project</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="main-layout-header-spacer"></div>

            {{#if currentUser }}
                <a class="main-layout-header-link main-layout-header-item" href="/home">Home</a>
            {{/if }}

            <a class="main-layout-header-link main-layout-header-item" href="/">Recent Posts</a>

            <a class="main-layout-header-link main-layout-header-item"> {{> loginButtons}} </a>
        </div>
        <div class="main-layout-banner">

        </div>
        <main class="main-layout-content">
            <div class="page-content">
                <!-- Your content goes here -->
                {{> yield}}
            </div>
        </main>
    </div>
</template>
