
.main-detailed-post {
    position: absolute;
    flex-direction: column;
    display: none;
    min-height: 61px;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border-radius: 4px;
}

.main-detailed-post-spinner {
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: -16px 0px 0px -16px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1) rotate(360deg);}
}

.main-detailed-post-flex {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.main-detailed-post-summary {
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
}

.main-detailed-post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
    min-height: 41px;
    overflow: hidden;
}

.main-detailed-post-avatar {
    margin-right: 8px;
}

.avatar .avatar-initials {
    z-index: auto;
}

.main-detailed-post-username {
    margin-right: 8px;
}

.main-detailed-post-age {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-detailed-post-content {
    padding: 5px 10px 5px 10px;
    overflow-y: auto;
}

.main-detailed-post-content p {
    margin: 0px;
    line-height: 130%;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}


.main-detailed-post-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #ccc;
    min-height: 26px;
}

.main-detailed-post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    border-top: 1px solid #ccc;
    min-height: 26px;
}

.main-detailed-post-footer button {
    padding: 2px 4px 2px 4px;
    margin: 4px 4px 4px 4px;
    color: #000;
    background-color: #ddd;
    border: 1px solid #ccc;
}

.main-detailed-post-footer button:hover {
    background-color: #eee;
}

.main-detailed-post-footer button:active {
    background-color: #ddd;
}

.main-detailed-post-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    right: 0;
    z-index: 1;
    border-radius: 4px;
}

.main-detailed-post-show {
    display: flex;
    flex-direction: column;
}

.main-basic-post {
    position: absolute;
    flex-direction: column;
    display: none;
    background-color: #fff;
    border-radius: 0px;
    overflow: hidden;
}

.main-basic-post-spinner {
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    animation: spin 1s infinite linear;
}

.main-basic-post-flex {
    display: none;
    flex-direction: row;
}

.main-basic-post-summary {
    border-bottom: 0px solid #ccc;
}

.main-basic-post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #ccc;
}

.main-basic-post-avatar {
    margin-right: 8px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 10;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.unseen {
    border-style: solid;
    border-radius: 8px;
    border-color: #FFD700;
}
