
<template name="mainDetailedPost">
    <div class="main-detailed-post" id="main-detailed-post-{{_id}}">
        <div class="main-detailed-post-flex">
            {{#if summary}}
                <div class="main-detailed-post-summary">{{summary}}</div>
            {{/if}}

            <div class="main-detailed-post-info">
                {{#if actor}}
                    <!-- <a class="main-detailed-post-avatar" href="{{actor.url}}">
                        {{> avatar size="small" shape="rounded" initials=(initials)}}
                    </a> -->
                    <a class="main-detailed-post-username" href="/actor/{{actor.preferredUsername}}">
                        {{actor.name}}
                    </a>
                {{/if}}

                <span class="main-detailed-post-age">
                    <a href="/post/{{_id}}" class="main-detailed-id-link">
                        {{age}}
                    </a>
                </span>

                <div class="main-detailed-post-seen tooltip">
                    {{#if seen}}
                    {{else}}
                        &#128065;
                        <span class="tooltiptext">Unseen</span>
                    {{/if}}
                </div>
            </div>

            <div class="main-detailed-post-content">
                {{{content}}}
            </div>

            {{#if likesOrShares}}
                <div class="main-detailed-post-stats">
                     {{#if likes}}Likes: {{likes}}{{/if}}{{#if likesAndShares}},{{/if}}
                     {{#if shares}}Shares: {{shares}}{{/if}}
                </div>
            {{/if}}

            <div class="main-detailed-post-footer">
                {{#if currentUser}}
                    {{#if verifiedUser}}
                        {{#if hasReplyButtons}}

                            {{#if editAccess}}
                                <button class="main-detailed-post-edit-button">Edit</button>
                                <button class="main-detailed-post-delete-button">Delete</button>
                            {{/if}}

                            <button class="main-detailed-post-reply-button">Reply</button>
                        {{/if}}

                        {{#if liked}}
                            <button class="main-detailed-post-unlike-button">Unlike</button>
                        {{else}}
                            <button class="main-detailed-post-like-button">Like</button>
                        {{/if}}

                        {{#if shared}}
                            <button class="main-detailed-post-unshare-button">Unshare</button>
                        {{else}}
                            <button class="main-detailed-post-share-button">Share</button>
                        {{/if}}
                    {{/if}}
                {{/if}}

                {{#if hasLoadButton}}
                    <div class="dropdown">
                        <button class="main-detailed-post-load-dropbtn">Load</button>
                        <div id="main-basic-post-load-dropdown-{{_id}}" class="main-detailed-post-load-dropdown-content main-detailed-post-dropdown-content">
                            <button class="main-detailed-post-load-adjacent-button">Load Adjacent</button>
                            <button class="main-detailed-post-load-target-button">Load Target</button>
                            <button class="main-detailed-post-load-replies-button">Load Replies</button>
                            <button class="main-detailed-post-load-targets-recursively-button">Load Targets Recursively</button>
                            <button class="main-detailed-post-load-replies-recursively-button">Load Replies Recursively</button>
                            <button class="main-detailed-post-load-direct-conversation-button">Load Direct Conversation</button>
                            <button class="main-detailed-post-load-conversation-button">Load Conversation</button>
                        </div>
                    </div>
                {{/if}}

                <div class="dropdown">
                    <button class="main-detailed-post-close-dropbtn">Close</button>
                    <div id="main-basic-post-close-dropdown-{{_id}}" class="main-detailed-post-close-dropdown-content main-detailed-post-dropdown-content">
                        <button class="main-detailed-post-close-button">Close</button>
                        <button class="main-detailed-post-close-adjacent-button">Close Adjacent</button>
                        <button class="main-detailed-post-close-target-button">Close Target</button>
                        <button class="main-detailed-post-close-replies-button">Close Replies</button>
                        <button class="main-detailed-post-close-unconnected-adjacent-button">Close Adjacent Leaves</button>
                        <button class="main-detailed-post-close-targets-recursively-button">Close Targets Recursively</button>
                        <button class="main-detailed-post-close-replies-recursively-button">Close Replies Recursively</button>
                        <button class="main-detailed-post-close-direct-conversation-button">Close Direct Conversation</button>
                        <button class="main-detailed-post-close-conversation-button">Close Conversation</button>
                    </div>
                </div>
            </div>
        </div>
        <i class="main-detailed-post-spinner fa fa-refresh" aria-hidden="true"></i>
    </div>
</template>

<template name="mainBasicPost">
    <div class="main-basic-post" id="main-basic-post-{{_id}}">
        <div class="main-basic-post-flex">
            {{#if actor}}
                <div class="main-basic-post-info">
                    <!-- <a class="main-basic-post-avatar" href="{{actor.url}}">
                        {{> avatar size="extra-small" shape="rounded" initials=(initials)}}
                    </a> -->
                </div>
            {{/if}}
            {{preview}}

            <div class="main-basic-post-seen tooltip">
                {{#if seen}}
                {{else}}
                    &#128065;
                    <span class="tooltiptext">Unseen</span>
                {{/if}}
            </div>
        </div>
        <i class="main-basic-post-spinner fa fa-refresh" aria-hidden="true"></i>
    </div>
</template>
