<!--
    Agora Forum Software
    Copyright (C) 2016 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
-->

<template name="followerCount">
    <div class="follower-count-body-div">
        {{followerCount}}
    </div>
</template>

<template name="followingCount">
    <div class="following-count-body-div">
        {{followingCount}}
    </div>
</template>

<template name="userProfile">
    <div class="profile-div">
        <div class="profile-body-div">
            <div class="profile-face-div">
                <a class="profile-username" href="{{actor.url}}">
                    {{actor.name}}
                </a>
            </div>

            <div class="profile-info-div">

                {{#unless mini}}
                    {{#if loggedInUser}}
                        {{#if ownProfile}}
                        {{else}}
                            {{#if notFollowed}}
                                <button class="profile-summary-follow-button">Follow</button>
                            {{else}}
                                <button class="profile-summary-unfollow-button">Unfollow</button>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/unless}}

                {{#if editing}}
                    <div class="profile-summary-edit-div">
                        <textarea class="profile-summary-edit-textarea" value={{actor.summary}}></textarea>
                        <div class="profile-summary-edit-buttons-div">
                            <button class="profile-summary-edit-submit-button profile-stop-edit-button">Submit</button>
                            <button class="profile-summary-edit-cancel-button profile-stop-edit-button">Cancel</button>
                        </div>
                        {{#if errorMessage}}
                            <span class="profile-summary-edit-error-message">{{errorMessage}}</span>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="profile-summary-text-div">
                        {{{summary}}}
                    </div>
                    {{#if ownProfile}}
                        <a href="#" class="profile-summary-edit-button profile-start-edit-button">Edit</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>

        {{#unless mini}}
            <div class="profile-footer-div">
                {{> followerCount id=(actor.followers)}}
                {{> followingCount id=(actor.following)}}
            </div>
        {{/unless}}
    </div>
</template>

<template name="followerList">
    <div class="follower-list-body-div">

    </div>
</template>

<template name="mainFloatingProfile">
    <div class="main-floating-profile-centerer">
        <div class="main-floating-profile-div">
            <button class="main-floating-profile-close-button">Close</button>
            {{> userProfile id=id floating=true}}
        </div>
    </div>
</template>

<template name="fullProfile">
    <div class="full-profile-centerer">
        <div class="full-profile-div">
            {{> userProfile id=id}}
        </div>
    </div>
    {{> postsByUser id=id}}
</template>

<template name="postsByUser">
    {{> mainView subscription="abstractPostsByUser" arg=id range=2 posts=10}}
</template>
