/*
    Agora Forum Software
    Copyright (C) 2016 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
*/

.following-count-body-div, .follower-count-body-div {
    margin: 0px auto;
    border: 1px solid #999;
    padding: 2px;
}

.profile-div {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
}

.profile-body-div {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    flex-flow: row;
}

.profile-face-div {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #bbb;
    text-align: center;
    align-items: center;
}

.profile-info-div {
}

.profile-summary-edit-div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile-summary-edit-textarea {
    max-height: 700px;
}

.profile-summary-text-div {
    max-height: 700px;
    overflow-y: scroll;
}

.profile-summary-edit-buttons-div {
    position: relative;
    display: flex;
    flex-direction: row;

}

.profile-summary-edit-error-message {
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f33;
}

.profile-footer-div {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    flex-flow: row;
}

.main-floating-profile-centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-floating-profile-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) translateX(-50%);
}
