.main-search-bar-container {
    position: absolute;
    top: 0%; left: 0%;
}

.main-search-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    margin: 10px 5px 5px 5px;
}

.main-search-results {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 4px 4px 0px 0px;
    margin: 10px 5px 5px 5px;
    min-height: 0%;
    max-height: 50vh;
    overflow-y: scroll;
}

.main-search-bar-input {
    margin: 5px 5px 5px 5px;
    resize: none;
}

.main-search-bar-button {
    margin: 5px 5px 5px 5px;
    resize: none;
}

.main-search-results-post {
    display: flex;
    position: absolute;
    flex-direction: column;
    min-height: 61px;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border-radius: 4px;
}

.main-search-results-post-spinner {
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: -16px 0px 0px -16px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1) rotate(360deg);}
}

.main-search-results-post-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-search-results-post-summary {
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
}

.main-search-results-post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
    min-height: 41px;
    overflow: hidden;
}

.main-search-results-post-avatar {
    margin-right: 8px;
}

.avatar .avatar-initials {
    z-index: auto;
}

.main-search-results-post-username {
    margin-right: 8px;
}

.main-search-results-post-age {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-search-results-post-content {
    padding: 5px 10px 5px 10px;
    overflow-y: auto;
}

.main-search-results-post-content p {
    margin: 0px;
    line-height: 130%;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
