
<template name="mainSearchBar">
    <div class="main-search-bar-container">
        <div class="main-search-bar">
            <input type="text" placeholder="Search" class="main-search-bar-input">
            <button class="main-search-bar-button">Go</button>
        </div>
        
        {{#if searchTerm}}
            <div class="main-search-results">
                {{#each posts}}
                    {{> mainSearchResultsPost}}
                {{/each}}

                {{#each actors}}
                    {{> mainSearchResultsActor}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="mainSearchResultsPost">
    <div class="main-search-results-post-container">
        <div class="main-search-results-post-flex">
            {{#if summary}}
                <div class="main-search-results-post-summary">{{summary}}</div>
            {{/if}}

            <div class="main-search-results-post-info">
                {{#if actor}}
                    <!-- <a class="main-search-results-post-avatar" href="{{actor.url}}">
                        {{> avatar size="small" shape="rounded" initials=(initials)}}
                    </a> -->
                    <a class="main-search-results-post-username" href="{{actor.url}}">
                        {{actor.name}}
                    </a>
                {{/if}}

                <span class="main-search-results-post-age">
                    <a href="{{url}}">
                        {{age}}
                    </a>
                </span>
            </div>

            <div class="main-search-results-post-content">
                {{{content}}}
            </div>
        </div>
    </div>
</template>


<template name="mainSearchResultsActor">
    <div class="main-search-results-actor-container">
        {{> userProfile id=id mini=true}}
    </div>
</template>
