<!--
    Agora Forum Software
    Copyright (C) 2016 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
-->

<template name="mainView">
    <div id="main-container">
        <div id="main-viewport"></div>

        {{#if showFullPosts}}
            {{#each detailedPosts}}
                {{> mainDetailedPost}}
            {{/each}}
        {{else}}
            {{#each detailedPosts}}
                {{> mainBasicPost}}
            {{/each}}
        {{/if}}

        {{#if currentUser}}
            {{#if targetMode}}
                {{> mainReply}}
            {{else}}
                {{> mainReplyButton}}
            {{/if}}
        {{/if}}

        {{> mainSearchBar}}

        {{> mainZoomControl}}

        {{#if targetActor}}
            {{> mainFloatingProfile id=targetActor}}
        {{/if}}
    </div>
</template>

<template name="recentPosts">
    {{> mainView subscription="abstractPosts"}}
</template>

<template name="homeTimeline">
    {{> mainView subscription="abstractPostsByTimeline"}}
</template>

<template name="singlePost">
    {{> mainView subscription="abstractPost" arg=id range=1}}
</template>

<template name="mainZoomControl">
    <div id="main-zoom-control-centerer">
        <div id="main-zoom-control-input">
            <button type="button" id="main-zoom-plus-button">+</button>
            <input type="range" id="main-zoom-control-slider" orient="vertical" value="90">
            <button type="button" id="main-zoom-minus-button">-</button>

            <div id="main-zoom-pan-buttons">
                <button type="button" class="deg270" id="main-zoom-up-button"><i class="arrow up"></i></button>
                <button type="button" class="deg0" id="main-zoom-right-button"><i class="arrow right"></i></button>
                <button type="button" class="deg90" id="main-zoom-down-button"><i class="arrow down"></i></button>
                <button type="button" class="deg180" id="main-zoom-left-button"><i class="arrow left"></i></button>
            </div>
        </div>
    </div>
</template>


<template name="mainReplyButton">
    <div id="main-reply-button-div">
        <button type="button" id="main-reply-button">New Post</button>
    </div>
</template>
