/*
    Agora Forum Software
    Copyright (C) 2018 Gregory Sartucci
    License: AGPL-3.0, Check file LICENSE
*/

#main-container {
    position:relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main-viewport {
    width: 100%;
    height: 100%;
}

#main-zoom-control-centerer {
    position: absolute;
    display: block;
    flex-direction: column;
    width: 0px;
    height: 0px;
    bottom: 20%;
    margin: 0px 0px 0px 32px;
}

#main-zoom-control-input {
    transform: translateY(-50%);
}

#main-zoom-control-slider {
    position: relative;
    width: 4px;
    height: 160px;
    background: #aaa;
    border-radius: 5px;
    -webkit-appearance: slider-vertical;
}

#main-zoom-plus-button {
}

@media only screen and (max-width: 1026px) {
    #main-zoom-control-centerer {
        display: none;
    }
}

#main-zoom-control-slider::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border: 0px solid #000;
    border-radius: 8px;
    background: #fff;
    -webkit-appearance: none;
}

#main-zoom-control-slider::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border: 0px solid #000;
    border-radius: 8px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#main-zoom-pan-buttons {
    position: relative;
    width: 3em;
    height: 3em;
    padding: 1.4em;
    border: dashed 1px;
    border-radius: 25%;
    margin: 0.75em auto 0;
}

#main-zoom-pan-buttons button {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 2em; height: 2em;
    margin: -1em;
}

.deg0 { transform: translate(1.5em); }
.deg90 { transform: rotate(90deg) translate(1.5em) rotate(-90deg); }
.deg180 { transform: translate(-1.5em); }
.deg270 { transform: rotate(270deg) translate(1.5em) rotate(-270deg); }

#main-reply-button-div {
    position: absolute;
    top: 90%; left: 90%;
}
